src/state_machines/state_machine.asl.json
{
  "Comment": "Load redshift into Dynamodb",
  "StartAt": "Execute Redshift Stored Procedure",
  "States": {
    "Execute Redshift Stored Procedure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "HeartbeatSeconds": 180,
      "Parameters": {
        "FunctionName": "${RedshiftRunSpsFunction}",
        "Payload": {
          "token.$": "$$.Task.Token",
          "spname.$": "$.spname",
          "event_message.$" : "$.event_message"
        }
      },
      "Catch":[
        {
           "ErrorEquals":[
              "States.ALL"
           ],
           "Next":"Send Error Message",
           "ResultPath": "$.error"
        }
     ],
      "Next": "Done"
    },
    "Send Error Message": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "${FailureProcessSNSTopic}"
      },
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}

